apiVersion: v1
kind: Service
metadata:
  name: {{ default (printf "%s-service" .Release.Name) .Values.service.name }}
  labels:
    {{- include "aspnetcore.standardLabels" . | nindent 4 }}
    {{- if .Values.commonLabels }}
      {{- toYaml .Values.commonLabels | nindent 4 }}
    {{- end }}
  annotations:
    {{- with .Values.service.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.commonAnnotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- if .Values.customSelectors }}
    {{ toYaml .Values.customSelectors | nindent 4 }}
    {{- else }}
    {{ include "aspnetcore.selectorLabels" . | nindent 4 }}
    {{- end }}
